#body{
    background-image: url('background.jpg');
    height: 100%;
    width:100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    filter: blur(4px);
    z-index: -1;
}

#lsay{
    float:left;
    margin-left:16px;
}
#say{
    float: right;
    margin-right: 16px;
}
#lto{
    float:left;
    margin-left:16px;
}
#to{
    float:right;
    margin-right:16px;
}
#btn{
    background-color:darkslategray;
    color:white;
    border-width:0px;
    font-size: 35px;
    border-radius: 4px;
}

button:focus{
    outline: none;}

#template{
    display: inline-block;
    text-align:center;
    background-color: wheat;
    width: 450px;
    max-width: 550px;
    min-height: 100px;
    z-index: 1;
    border-radius: 3px;
}

#head{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
#regis{
    width: 300px;
    color: white;
    border-width: 0px;
    background-color: red;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 35px;
    width: 450px;
}