#navbar{
    position: fixed;
    top:0;
    width: 100%;
    left: 0px;
    height: 38px;
    border: 3px solid blue;
    background-color: blue;
    color: white;
    font-size: 17px;
    margin-right: 20px;
    text-shadow: 5px;
    box-shadow: 0px 10px 5px gray;
    padding: 3px;
    z-index: 1;
}

#map{
    display: inline-block;
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 5px 2px gray;
    z-index: 0;
}

#btn{
    color: red;
}
#sp{
    font-size:30px;
}
#source{
    width: 200px;
    height:40px;
    font-size: 22px;
    text-align: center;
    background-color: blue;
    color:white;
}
#destination{
    width: 200px;
    height:40px;
    font-size: 22px;
    text-align: center;
    background-color: blue;
    color:white;
}
#btn{
    color:white;
    background-color: blue;
    width: 150px;
    height:50px;
    font-size: 20px;
    border:2px solid blue;
    border-radius: 5px;
}