#navbar{
    position: fixed;
    top:0;
    width: 100%;
    left: 0px;
    height: 50px;
    background-color: darkcyan;
    color: white;
    font-size: 17px;
    margin-right: 20px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    padding: 3px;
    z-index: 1;
}

    


.cho{
    background-color: darkblue;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    font-size:60px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0px;

}

.cho:active{
    background-color: white;
    color: darkblue;
}

#stat{
    background-color: darkblue;
    position: absolute;
    border: 3px solid black;
    left: 0px;
    width:19%;
    height: auto;
    top: 0px;
    bottom: 0px;
}

#backcontent{
    position: absolute;
    right: 0px;
    width: 84%;
    height:auto;
    top:5px;
    bottom: 0px;
    background-image: url('background.jpg');
    filter: blur(3px);
    z-index: -1;
}

#content{
    text-align:center;
    overflow: auto;
    position: absolute;
    right: 6px;
    width: 80%;
    height:auto;
    top:55px;
    bottom: 0px;
    font-size: 30px;
    color: white;
}

#map{
    display: inline-block;
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 5px 2px gray;
    border: 2px solid black;
    border-radius: 15px;
    z-index: 0;
}


#sp{
    font-size:40px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
}
#source{
    width: 200px;
    height:40px;
    font-size: 22px;
    text-align: center;
    background-color: blue;
    color:white;
}
#source::-webkit-scrollbar { width: 0px !important; }
#destination{
    width: 200px;
    height:40px;
    font-size: 22px;
    text-align: center;
    background-color: blue;
    color:white;
}
#isme{
    height:auto;
    text-align: center;
}
#duri{
    display: inline-block;
    font-size: 40px;
    background-color: rgb(0,0,0,0.6);
    border-radius: 5px;
    height: 20%;
    width: 50%;
    text-align: center;
}
#destination::-webkit-scrollbar { width: 0px !important; }
#accomodation{
    width: 200px;
    height:40px;
    font-size: 22px;
    text-align: center;
    background-color: blue;
    color:white;
}
#accomodation::-webkit-scrollbar { width: 0px !important; }
#btn{
    color:white;
    background-color: blue;
    width: 150px;
    height:50px;
    font-size: 20px;
    border:2px solid blue;
    border-radius: 5px;
}